/*Mis medias queries*/
.labe_hamburguesa, .menu_hamburguesa{
    display: none;
}

@media screen and (min-width:768px) and (max-width:1024px){
    .product-list{
        flex-wrap: wrap;
        justify-content: center;
    }

    .product{
        width: 45%;
    }
}

/*pantallas de television*/
@media screen and (max-width:2560px){
    /*Reglas de CSS ordinarias*/
}

/*pantallas chicas*/
@media screen and (max-width:1024px){
    .nav-links li{
        margin: 10px 0;
    }
    .hero h2{
        font-size: 4rem;
    }


    .labe_hamburguesa{
        display: flex;
        cursor: pointer;
    }
    .menu_hamburguesa:checked + .nav-links{
        height: 22rem;
    }
    .nav-links{
        overflow: hidden;
        width: 100%;
        
        background-color: rgb(255, 128, 0, 0.97);

        position: absolute;
        top: 80px;
        left: 0;
        height: 0;
        flex-direction: column;
        justify-content: top;
        align-items: center;
        gap: 1rem;

        transition: all .3s;
    }
}

/*pantallas chicas*/
@media screen and (max-width:768px){
    .video iframe{
        width: 75%;
    }

}

/*pantallas chicas como un iphone */
@media screen and (max-width:480px){
    .nosotros img{
        width: 20rem;
        height: 14rem;
        padding: 0 20px 0 20px;
        object-fit: cover;
    }

    .video iframe{
        width: 75%;
    }

}

/*pantallas chicas*/
@media screen and (max-width:320px){
    .video iframe{
        width: 75%;
    }


    
}
