/*Notas: ulize la extension px to rem para convertir mas rapido los px(ctrl+z)*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box}

/*personalización del scrollbar info: https://www.youtube.com/watch?v=lvKK2fs6h4I&ab_channel=KevinPowell*/
::-webkit-scrollbar {
    width: 1em; /* Ancho del scrollbar */
}
::-webkit-scrollbar-track {
    background: rgba(255, 128, 0, 0.2); /*Fondo del track del scrollbar*/
}
::-webkit-scrollbar-thumb {
    background: rgba(255, 128, 0, 0.8); /*Color de la barra*/
    border: .25em solid rgba(15, 10, 5, 0.2);
    border-radius: 100vw; /*Bordes redondeados del mouse*/
}
::-webkit-scrollbar-thumb:hover {/*Color más intenso al pasar el mouse*/
    background: rgba(255, 128, 0, 1); 
}
/*es de https://fonts.google.com/specimen/Roboto+Condensed*/
.roboto-condensed-regular{ 
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;}

body{
    background-color: #fffaec; /*para decidir el color https://uicolors.app/create*/
    font-family: 'Roboto Condensed', sans-serif;/*Pone todo a Roboto Condensed*/
    font-style: normal;}

.navbar{
    z-index: 1000;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
    background-color: rgb(255, 128, 0);
    }
.nav-links{
    list-style: none;
    display: flex;}
.nav-links li{
    margin-left: 1.5rem;
    width: max-content; /*es para que no se baje los elementos de 2 palabras*/
    padding: 8px 12px; /*para que se vea vien el hover*/
    border-radius: 3px;}
.nav-links a{ /*estu */
    text-decoration: none;
    color: black;
    font-weight: bold;}
.nav-links li:hover{
    background-color: #cc5d02;
    transition: 0.5s;
}
.logo{/*Logo modificaciones y marca inventada*/
    font-size: 25px;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.logo img{
    width: 100%;
    height: 40px;
}

.hero{
    background-image: url(https://teacultureoftheworld.com/cdn/shop/articles/taiwan-milk-tea-with-boba-bubble-pearl-on-plastic-2024-02-05-02-27-11-utc_2191x.jpg?v=1714023533);
    background-size: cover;
    background-position: 50% ;
    text-align: cover;
    color: #FFD700;
    padding: 9rem 0;
    background-color: #f5f5dc;}
.hero-content{
    text-shadow: 2px 2px 4px #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero-content h2{
    font-size: 3rem;
    margin-bottom: 1.25rem;}
.hero-content p{
    font-size: 1.2rem;
    margin-bottom: 20px;}
.hero-content button, .featured-products button{
    padding: .625rem 1.25rem;
    background-color: rgb(255, 128, 0);
    border: thick double black;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;}
.hero-content button:hover{
    color: #cc5d02;
    background-color: #FFD700;
    box-shadow: 0 0 40px 20px orange;
    transition: 0.5s ease;
}

.nosotros{
    padding: 3.12rem;
    text-align: center;
    background-color: #f5f5dc;
    color: #333;
    }
.nosotros h2{
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
    }
.nosotros p{
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 50rem;
    margin: 0 auto;}

.featured-products{ /*inicio de los producros - Caja Grande*/
    padding: 3.12rem;
    text-align: center;}
.product-list{ /*inicio de los producros - Caja mediana*/
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;}
.product{
    background-color: #ffe5a5;
    width: 18.75rem;
    margin-bottom: 1.87rem;
    border-radius: 50%;
    }
.product:hover{
    background-color: rgb(253, 255, 195);}
.product img{
    filter: drop-shadow(0 0 7px black); /*Esto agrega uuna sombra a las imagenes png*/
    height: 25rem;
    object-fit: cover;
    margin-bottom: .625rem;}

.postre{
    padding: 50px;
    text-align: center;}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;}

.postre img{
    width: 100%;
    height: 200px;
    object-fit: cover;}

.equipo-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.equipo{
    padding: 50px;
    text-align: center;
    background-color: #fff4d3;
}
.miembro{
    width: 200px;
    margin-bottom: 35px;
}
.miembro img{
    width: 100%;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.footer{
    text-align: center;
    padding: 1.25rem;
    color:#fff4d3;
    background-color: rgb(255, 128, 0);}

.social-media{
    margin-bottom: 1.25rem;}

.social-media a{
    color: brown;
    margin: 0 .625rem;
    font-size: 1.5rem;}

.newsletter{
    text-align: center;
    margin-bottom: 1.25rem;}

.newsletter h3{
    margin-top: 20px;
}

.newsletter input[type="email"]{
    padding: .5rem;
    border: 2px solid orange;
    border-radius: 4px;
    margin-bottom: 10px;
}

.newsletter button[type="submit"]{
    background-color: green;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
    cursor: pointer;
}
.tes{
    padding: 50px;
    text-align: center;
}

.grid-te{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 250px);
    gap: 20px;
    grid-template-areas: 
    "te1 te1 te2 te3"
    "te1 te1 te4 te5";
}
.te{
    border: 1px solid gray;
    padding: 20px;
}

.te img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
}

/*Asignar areas a los sandwiches*/
.te:nth-child(1) {grid-area: te1;}
.te:nth-child(2) {grid-area: te2;}
.te:nth-child(3) {grid-area: te3;}
.te:nth-child(4) {grid-area: te4;}
.te:nth-child(5) {grid-area: te5;}

#registrate{
    background-color: #a1480b;
}
#manzanilla{
    width: 100%;
    height: 350px;
}